services:
  php:
    image: php:8.1-cli
    volumes:
      - ./:/var/www/html
    ports:
      - "8000:8000"
    working_dir: /var/www/html
    command: php -S 0.0.0.0:8000

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
